#SearchBar{
    width: 100%;
    height: 11.7%;
    background-color:#1E2A47;
    margin-top: 1%;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
::placeholder{
    color: #fff;
    font-size: 18px;
    font-family: "space-Mono-regular" ;
    margin-right: 10.9%;
}
#SearchBar>img{
    width: 3%;
    height: 34%;
    margin-left: 4%;
}
#SearchBar>input{
    width: 55%;
    height: 36%;
    margin-left:3% ;
    background:none;
    border: none;
}
#SearchBar>button{
    width: 14.5%;
    height: 72.4%;
    background-color: #0079FF;
    font-size: 16px;
    font-family: "space-Mono-bold" ;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 18%;
}
