@font-face {
    font-family: 'Rubik';
    src: url(../../assets/Rubik-VariableFont_wght.ttf);
  }
.singleItemDiv{
    width: 31%;
    height: 100%;
    font-family: 'Rubik';
}
.coloredDiv{
    width: 100%;
    height: 24%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 63%;
    overflow: hidden;
}
.contentDiv{
    width: 100%;
    height: 81.8%;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%) ;
    position: relative;
    z-index: 2;
    top: -5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15%;
    color: white;
}
.contentDiv:hover{
    background-color: hsl(236, 47%, 34%) ;
}
.top{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50%;
    font-weight: 500;
    font-size: 18px;
}
.durationDiv{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 7%;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 11%;
}
.durationDiv>h1{
    font-weight: 300;
    font-size: 56px;
    margin: 0%;
}
.durationDiv>label{
    font-size: 14.5px;
    font-weight: 300;
    color:hsl(236, 100%, 87%) ;
}
@media only screen and (max-width:375px){
    .singleItemDiv{
        width: 100%;
        height: 29.5%;
    }
    .coloredDiv{
        height: 37.8%;
        padding-left: 68%;
    }
    .contentDiv{
        height: 75%;
        top: -13%;
        row-gap: 14px;
    }
    .top{
        width: 100%;
        height: 17%;
        column-gap: 65%;
    }
    .durationDiv{
        height: 36%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 22%;
        box-sizing: border-box;
        padding-left: 0%;
    }
    .durationDiv>h1{
        font-size: 32px;
    }
    .durationDiv>label{
        font-size: 14.5px;
        font-weight: 300;
        color:hsl(236, 100%, 87%) ;
    }
}