@font-face {
    font-family: "inter";
    src: url(../../assets/Inter-VariableFont_slnt\,wght.ttf);
}
#SelectionLinks{
    width: 79.3%;
    height: 15%;
    background-color:hsl(0, 0%, 20%) ;
    border: none;
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    font-family: "inter";
    font-weight: 700;
    font-size: 14px;
}