@font-face {
    font-family: "inter";
    src: url(../../assets/Inter-VariableFont_slnt\,wght.ttf);
}
#InfoDiv{
    height: 39.85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#InfoDiv>img{
    width: 23%;
    border-radius: 50%;
}
#InfoDiv>h2{
    color: hsl(0, 0%, 100%);
    font-family: "inter";
    font-size: 23px;
    margin-top: 7.5%;
    margin-bottom: 2%;
}
#InfoDiv>h3{
    color:hsl(75, 94%, 57%) ;
    font-family: "inter";
    font-size: 14px;
    margin: 0%;
}
#InfoDiv>label{
    color:hsl(0, 0%, 100%) ;
    font-family: "inter";
    font-size: 14px;
    margin-top: 7%;
}