@font-face {
  font-family: "space-Mono-bold" ;
  src: url(./../public/SpaceMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "space-Mono-regular" ;
  src: url(./../public/SpaceMono-Regular.ttf);
  font-weight: 400;
}
main{
  width: 100%;
  height: 100%;
  background-color: #141d2f;
  display: flex;
  align-items: center;
  justify-content: center;
}
#allpageContent{
  width: 50.6%;
  height: 84%;
  display: flex;
  flex-direction: column;
  row-gap: 4%;
}
@media only screen and (max-width:375px){
  #allpageContent{
    width: 90%;
    height: 100%;
  }
}