.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #f7f4ef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .page-item.active {
    background-color: #a87e3b; 
    color: white;
  }
  
  .page-item:hover:not(.active) {
    background-color: #e0d9cf;
  }
  
  .page-item:disabled {
    background-color: #e0d9cf;
    cursor: not-allowed;
  }
  